.container {
  width: 1200px;
  border: blue solid 1px;
  margin: 0 auto;
  background-color: #f2f5f5;
  padding: 10px;
}

.menu {
  background-color: #f2f5f5;
}

.menu img {
  height: 130px;
  width: 130px;
  border-radius: 10px;
}

.dish-detail {
  background-color: white;
  width: 400px;
  height: 160px;
  border: red solid 1px;
  display: flex;
  padding: 15px;
  border-radius: 10px;
  justify-content: space-between;
}

.category {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.dish-title {
  font-size: 20px;
  color: #2e3333;
  margin-bottom: 10px;
}

.dish-description {
  font-size: 15px;
  color: #808484;
  margin-bottom: 10px;
  width: 200px;
  flex-wrap: nowrap;
  overflow: hidden;
  height: 30px;
}

.dish-price {
  color: #808484;
  font-weight: bold;
}

.dish-detail-all {
  display: flex;
  border: green solid 1px;
  flex-wrap: wrap;
  gap: 10px;
}

h1 {
  font-weight: bold;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.presentation {
  background-color: white;
}
.presentation p {
  color: #868a8a;
}

header {
  background-color: white;
  border-bottom: grey solid 1px;
  width: 1200px;
  margin: 0 auto;
}

.presentation .container {
  background-color: white;
  display: flex;
  gap: 20px;
}

header img {
  width: 160px;
  height: 50px;
  margin-top: 20px;
}

.presentation img {
  width: 350px;
  height: 200px;
  border-radius: 10px;
}

.presentation p {
  font-size: 20px;
}

.price-popular {
  display: flex;
  gap: 20px;
}

.popular {
  color: #ff8001;
  font-weight: bold;
}
